src/schema/xserver/FindDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="MARCRecord.xsd"/>

    <xs:element name="find-doc" type="FindDocumentType"/>

    <xs:complexType name="FindDocumentType">
        <xs:sequence>
            <xs:element name="record" type="RecordType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="session-id" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
