src/schema/xserver/ReadItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Z30.xsd"/>

    <xs:element name="read-item" type="ReadItemResponse"/>

    <xs:complexType name="ReadItemResponse">
        <xs:sequence>
            <xs:element name="z30" type="Z30Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="session-id" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
